<div class="container">
  <span class="title">CLINIK</span>

  <nav class="sidebar-nav">
    <ul>
      <li class="class-item">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">
          <span class="icon-placeholder"><fa-icon [icon]="faCalendar" class="icon"></fa-icon></span>
          <span class="label">Schedule</span>
        </a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active" class="nav-item">
          <span class="icon-placeholder"><fa-icon [icon]="faUser" class="icon"></fa-icon></span>
          <span class="label">Employees</span>
        </a>
      </li>
      <li>
        <a routerLink="/patients" routerLinkActive="active" class="nav-item">
          <span class="icon-placeholder"><fa-icon [icon]="faUserInjured" class="icon"></fa-icon></span>
          <span class="label">Patients</span>
        </a>
      </li>
      <li>
        <a routerLink="/scheduled-visits" routerLinkActive="active" class="nav-item">
          <span class="icon-placeholder"><fa-icon [icon]="faCalendarCheck" class="icon"></fa-icon></span>
          <span class="label">Scheduled visits</span>
        </a>
      </li>
      <li>
        <a routerLink="/statistics" routerLinkActive="active" class="nav-item">
          <span class="icon-placeholder"><fa-icon [icon]="faChartBar" class="icon"></fa-icon></span>
          <span class="label">Statistics</span>
        </a>
      </li>
      <li>
        <a routerLink="/reports" routerLinkActive="active" class="nav-item">
          <span class="icon-placeholder"><fa-icon [icon]="faFileAlt" class="icon"></fa-icon></span>
          <span class="label">Reports</span>
        </a>
      </li>
      <li>
        <a routerLink="/price" routerLinkActive="active" class="nav-item">
          <span class="icon-placeholder"><fa-icon [icon]="faDollarSign" class="icon"></fa-icon></span>
          <span class="label">Price</span>
        </a>
      </li>
      <li>
        <a routerLink="/cabinets" routerLinkActive="active" class="nav-item">
          <span class="icon-placeholder"><fa-icon [icon]="faBox" class="icon"></fa-icon></span>
          <span class="label">Cabinets</span>
        </a>
      </li>
      <li class="divider"><hr class="separator" /></li>
      <li>
        <a routerLink="/settings" routerLinkActive="active" class="nav-item">
          <span class="icon-placeholder"><fa-icon [icon]="faCog" class="icon"></fa-icon></span>
          <span class="label">Settings</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="upgrade-card">
    <h1>Upgrade to Pro</h1>
    <p>Improve your development<br> process and enhance your <br>productivity.</p>
    <button class="upgrade-button">UPGRADE TO PRO</button>
  </div>
</div>
